<%- include("partials/_header") %>
<<<<<<< HEAD
 
<div class="container d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="createOffer/<%=publicacion%>" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="description" required>
          </div>
          <!-- <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nro Puerto</label>
            <input type="number" class="form-control" name="idPuerto" required>
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>    
  </div>
</div>

<%- include("partials/_footer") %>
=======

    <div class="container d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/makeOffer/new" method="post">
                        <div class="mb-3">
                            <label class="form-label"> Descripción </label>
                            <input type="text" class="form-control" name="description" required>
                        </div>
                        <input type="hidden" class="form-control" name="idPublication" value="<%=id%>" required>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/_footer") %>
>>>>>>> 6eee6664b46eed1ff56ccfcd70a3c3b34f9eff00
