<%- include("partials/_header") %>

  <div class="container d-flex justify-content-center mt-5">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <td> N°</td>
              <td>Numero de puerto</td>
              <td>Matricula</td>
              <td>Descripcion</td>
              <% if (roleCookie=="admin" ) { %>
                <td>Actions</td>
                <% } %>
                  <% if (roleCookie=="user" ) { %>
                    <td>Ofertar</td>
                    <% } %>
            </tr>
          </thead>
          <tbody>
            <% if (publicaciones) { %>
              <% for(var i=0; i < publicaciones.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= publicaciones[i].idPuerto %>
                  </td>
                  <td>
                    <%= publicaciones[i].plate %>
                  </td>
                  <td>
                    <%= publicaciones[i].description %>
                  </td>
                  <% if (roleCookie=="admin" ) { %>
                    <td class="d-flex gap-2">
                      <a href="/deletePublication/<%= publicaciones[i].idPublication %>" class="btn btn-danger">
                        Delete
                      </a>
                    </td>
                    <% } %>
                      <% if (roleCookie=="user" ) { %>
                        <td class="d-flex gap-2">
                          <a href="/makeOffer/<%= publicaciones[i].idPublication %>" class="btn btn-info">
                            Ofertar
                          </a>
                        </td>
                        <% } %>

                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>

  <%- include("partials/_footer") %>